.vs/
Backup/
edusat/Debug/
edusat/Release/
release/
edusat/assignment.txt
*.diagsession
*.vspx
*.out
*.json
Debug/
edusat/edusat.vcxproj
edusat/test/comp17/
edusat/UpgradeLog.htm
*.filters
edusat/tmp/
edusat/_edusat.cpp
edusat/_edusat.h
edusat/ReleaseWithAssert/
ReleaseWithAssert/
edusat/test/Selected_CNF/
